<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.dao.RentDao" >
  <resultMap id="BaseResultMap" type="com.demo.gecco.htmlBean.ChuZhuBean" >
    <result column="detail_id" property="detailId" jdbcType="VARCHAR" />
    <result column="main_title" property="mainTitle" jdbcType="VARCHAR" />
    <result column="house_price" property="housePrice" jdbcType="VARCHAR" />
    <result column="house_type" property="houseType" jdbcType="VARCHAR" />
    <result column="area1" property="area1" jdbcType="VARCHAR" />
    <result column="area2" property="area2" jdbcType="VARCHAR" />
    <result column="area3" property="area3" jdbcType="VARCHAR" />
    <result column="img1" property="img1" jdbcType="VARCHAR" />
    <result column="img2" property="img2" jdbcType="VARCHAR" />
    <result column="img3" property="img3" jdbcType="VARCHAR" />
    <result column="img4" property="img4" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="equipment" property="equipment" jdbcType="VARCHAR" />
  </resultMap>
 <insert id="insert" parameterType="com.demo.gecco.htmlBean.ChuZhuBean">
 	insert into rent_house (detail_id ,main_title ,house_price,house_type,area1 ,area2 ,area3 ,img1
 	,img2 ,img3 ,img4 ,address ,equipment)
 	values(  #{detailId,jdbcType=VARCHAR},#{mainTitle,jdbcType=VARCHAR},#{housePrice,jdbcType=VARCHAR},
 	#{houseType,jdbcType=VARCHAR},#{area1,jdbcType=VARCHAR} ,#{area2,jdbcType=VARCHAR} ,#{area3,jdbcType=VARCHAR},
 	#{img1,jdbcType=VARCHAR} ,#{img2,jdbcType=VARCHAR} ,#{img3,jdbcType=VARCHAR} ,#{img4,jdbcType=VARCHAR} 
 	, #{address,jdbcType=VARCHAR}, #{equipment,jdbcType=VARCHAR})
 </insert>
 <select id="findAll" resultMap="BaseResultMap"> 
 	select * from rent_house
 </select>
 <select id="findAllDetailId" resultMap="BaseResultMap"> 
 	select detail_id from rent_house
 </select>
 <select id="findByExample" resultMap="BaseResultMap" parameterType="com.demo.gecco.htmlBean.ChuZhuBean">
 	select * from rent_house
 	where 1=1
      <if test="detailId != null" >
        and detail_id = #{detailId,jdbcType=VARCHAR},
      </if>
      <if test="mainTitle != null" >
        and main_title = #{mainTitle,jdbcType=VARCHAR},
      </if>
      <if test="house_price != null" >
        and housePrice = #{house_price,jdbcType=VARCHAR},
      </if>
      <if test="house_type != null" >
        and houseType = #{house_type,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        and rent_image = #{image,jdbcType=VARCHAR},
      </if>
 </select>
 
</mapper>